:root {
  --primary-font: "Roboto", sans-serif;
  --layer-color: rgba(0, 0, 0, 0.478);
  --color-primary: #11bb67;
  --color-secondary: #ff6525;
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/Gloss\ And\ Bloom\ Font.ttf");
}

body {
  font-family: var(--primary-font);
}
.main-adrress {
  font-family: "secondary-font";
  color: var(--color-secondary);
  display: block;
  margin-bottom: 10px;
}

.button {
  background-color: var(--color-primary);
  color: white;
}
.secondary-button {
  background-color: var(--color-secondary);
  color: white;
}
.icon-color {
  color: var(--color-primary);
}
header .social-links .icons .contact-info i {
  color: var(--color-primary) !important;
}
header nav button {
  background-color: var(--color-primary) !important;
}
.home .main-bg {
  margin-top: 146px;
  height: 70vh;
  width: 100%;
  background-image: url(../images/images/slider-1-2.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.home .main-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--layer-color);
}

.home .main-bg .text h1 {
  font-size: 50px;
}
.home .main-bg span {
  font-family: "secondary-font";
  margin-bottom: 10px;
}

.home .top-destination .head::before,
.home .top-destination .head::after {
  position: absolute;
  top: 0;
}
.home .top-destination .head::before {
  content: url(../images/images/Ballon-1.png);
  left: 0;
}
.home .top-destination .head::after {
  content: url(../images/images/star.png);
  right: 0;
}
.home .top-destination .head h2 {
}
.home .slids .layer {
  background-color: var(--layer-color);
  bottom: -100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.home .slids .box:hover .layer {
  bottom: 0;
}
.home .slids .layer span {
  color: var(--color-secondary);
}

.about-campany {
  background-image: url(../images/images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about-campany::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 247, 247, 0.047);
}

.home .about-campany .left-box .last-images img {
  width: 200px;
}

.home .about-campany img:nth-child(1) {
  top: -80px;
  border: 4px solid white;
}

.home .about-campany .right-box p {
  font-size: 13px;
}
.home .about-campany .right-box .icon {
  width: 50px;
  height: 50px;
  background-color: #ff662560;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home .about-campany .right-box .icon i {
  color: #ff6625d8;
}
.home .about-campany .right-box button {
  background-color: var(--color-primary);
}

.home .featured-tours .image span:nth-child(2),
.home .resent-blog .image span,
.home .tours .row .box .nots span:nth-child(2) {
  background-color: var(--color-secondary);
}
.home .featured-tours .image span:nth-child(1),
.home .tours .row .box .nots span:nth-child(1) {
  background-color: var(--color-primary);
}
.home .featured-tours .image .icons {
  bottom: 0;
  right: 50px;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.home .featured-tours .location i,
.home .resent-blog .calinder i,
.home .tours .row .box .location i {
  color: var(--color-primary);
}
.home .featured-tours .location span {
  font-size: 12px;
}
.home .featured-tours .price,
.home .tours .row .box .price {
  font-size: 14px;
}
.home .featured-tours .price i,
.home .tours .row .box .price i {
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.home .featured-tours .price span span,
.home .tours .row .box .price span span {
  color: var(--color-secondary);
}
.home .get-start {
  background-image: url(../images/images/slider-1-2.jpg);
}
.home .get-start::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--layer-color);
}
.get-start .right-box .icon {
  width: 100px;
  height: 100px;
  background-color: white;
  color: var(--color-primary);
  border: 15px solid rgba(62, 26, 26, 0.471);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home .get-start .info {
  background-color: var(--color-secondary);
}

.home .resent-blog button {
  background-color: #5cc6914f;
  color: var(--color-primary);
}
.home .tours .tour-grid {
  background-image: url(../images/images/slider-1-3.jpg);
  background-size: cover;
}
.home .tours .tour-grid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--layer-color);
}
.home .tours .tour-grid button {
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

.home .tours .row .box img {
  z-index: -1;
}
.home .tours ul {
  width: fit-content;
}
.home .tours ul li:last-child {
  background-color: var(--color-primary);
  color: white;
}
@media (max-width: 478px) {
  .home .about-campany .left-box .last-images img {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .home .top-destination .head::before,
  .home .top-destination .head::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  header .social-links ul {
    border: none !important;
  }
}
